{% extends 'base.html' %}

{% block content %}

<div class="container mt-10">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Guruh yaratish</h4>
          <button
            class="btn btn-primary btn-round ms-auto"
            data-bs-toggle="modal"
            data-bs-target="#addRowModal"
          >
            <i class="fa fa-plus"></i> Guruh
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Nomi</th>
                <th>O'qituvchi</th>
                <th>To'lov</th>
                <th>Kunlari</th>
                <th style="width: 15%">Amallar</th>
              </tr>
            </thead>
            <tbody>
              {% for group in groups %}
                <tr>
                  <td><a href="{% url 'student_list' group.id %}">{{ group.name  }} </a></td>
                  <td>{{ group.teacher }}</td>
                  <td>{{ group.monthly_payment }}</td>
                  <td>{{ group.week_days }}</td>
                  <td>
                    <div class="form-button-action">
                      <!-- Edit Button -->
                      <button
                        type="button"
                        class="btn btn-link btn-primary btn-lg"
                        data-bs-toggle="modal"
                        data-bs-target="#editStudentModal"
                        data-id="{{ group.id }}"
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                      <!-- Delete Button -->
                      <form method="post" action="{% url 'delete_group' group.id %}" style="display:inline-block;">
                        {% csrf_token %}
                        <a href="{% url 'delete_group' group.id %}" class="btn btn-link btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </form>
                    
                    </div>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5">Hozircha Guruh yo'q</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Group Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header no-bd">
        <h5 class="modal-title">Yangi Guruh Qo'shish</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'create_group' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row">
            <!-- Name Field -->
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label for="{{ form.name.id_for_label }}">Nomi</label>
                {{ form.name }}
                {% if form.name.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>

            <!-- Teacher Field -->
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label for="{{ form.teacher.id_for_label }}">O'qituvchi</label>
                {{ form.teacher }}
                {% if form.teacher.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.teacher.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>

            <!-- Monthly Payment Field -->
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label for="{{ form.monthly_payment.id_for_label }}">Oylik to'lov</label>
                {{ form.monthly_payment }}
                {% if form.monthly_payment.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.monthly_payment.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>

            <!-- Week Days Field -->
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label for="{{ form.week_days.id_for_label }}">Kunlari</label>
                {{ form.week_days }}
                {% if form.week_days.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.week_days.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer no-bd">
          <button type="submit" class="btn btn-primary">Qo'shish</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Bekor qilish</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
