{% extends 'base.html' %}

{% block content %}
<div class="container mt-10">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Guruhni o'chirish</h5>
    </div>
    <div class="card-body">
      <p>Siz "{{ object.name }}" guruhini o'chirishni xohlaysizmi?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Ha, o'chirish</button>
        <a href="{% url 'group_payment' %}" class="btn btn-secondary">Bekor qilish</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
